*{
    margin: 0px;
    padding: 0px;
 }
 html{
    scroll-behavior: smooth;
 }
 .sec{
 
    min-width: 100%;
   height: 50vh;
    background: url('../imgs/back_auto.jpg');
    background-repeat: no-repeat;
  background-size: cover;
 background-position: center;
 
  
    overflow: hidden;
 }
 .sec .wave{
   
 position:absolute;
 top:422px;
 bottom:-500px;
 left: 0;
 width: 100%;
 height: 100px;
 background:url('../imgs/wave.png');
 background-size: 1000px 100px;
 }
   .sec .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
 }
 
 .sec .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 5px;
 }
 section .wave.wave3{
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 7px;
 }
 section .wave.wave4{
    animation: animate 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -2s;
    bottom: 8px;
 }
 @keyframes animate{
    0%{
    background-position-x:0;
    }
    100%{
    background-position-x: 1000px;
    }
 }
 @keyframes animate2{
    0%{
    background-position-x:0;
    }
    100%{
    background-position-x: -1000px;
    }
 }
 .navbar{
    width: 100%;
    position: fixed;
    z-index: 1;
 }
 .sec2{
    width: 100%;
    height: 100vh;
 }
 
 .d-block{
    width: 30px;
 }
 .card{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 1px solid lightgray;
    width:20px;
    height: 350px;
 }
 .card .btn{
   background-color: white;
   color: black;
   font-size: 14px;
 }
 .card .btn:hover{
   background-color: goldenrod;
   color: white;
 }
 .blog{
    width: 100%;
    height:100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 }
 .blog h2{
    font-weight: bolder;
     color: antiquewhite;
 
 }
 .blog p{
    font-size: 25px;
    color: antiquewhite;
 }
 .row{
   
  justify-content: center;
  width:80%;
  height: auto;
  margin:0 auto;
 
 gap: 20px;
 }
 .bg-image{
    width: 100%;
    height: 150px;
   
 }
 .bg-image .img-fluid{
    width: 100%;
  height: 140px;
 }
 .card-text{
    font-size: 13px;
 }
 .card-title{
    font-weight: bolder;
 }
 

 .R{
    margin-top:20vh;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
 }
 
 .recent{
 font-size: 20px;
 font-weight: bold;
 }
 .recent span{
    color:goldenrod;
 }
 .main{
 }
 .slick-slide>div{
    margin:0 10px;
 }
 .slick-list{
    margin: 0 -10px;
 }
 .desc{
    width:100%;
    height: 400px;
 
    background-color:whitesmoke;
    display: flex;
    flex: auto;
    justify-content:center;
    gap: 50px;
    align-items: center;
 }
 .desc-img{
 width: 300px;
 height: 300px;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 
 
 }
 .desc-img img{
    height: 100%;
    width: 100%;
 }
 .desc-talk{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:300px;
 }
 .desc-talk h5{
  font-weight: bold;
  color:gray;
  
 
 }
 .desc-talk input{
    padding: 5px;
 
  
 }
 .desc-talk button{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 5px;
    border:1px solid #3586ff;
    background-color: #3586ff;
    color: white;
    border-radius: 2px;
 }
